<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="pythonkasittelija" path=".py" verb="*" modules="CgiModule" scriptProcessor="C:\Program Files\Python36\python.exe" resourceType="Unspecified" />
        </handlers>
	<directoryBrowse enabled="true"/>
    </system.webServer>
</configuration>
